html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
}

#main-container {
    display: grid;
    grid-template-columns: 60% auto;
    gap: 10px;
    padding: 10px;
}

#airport-container {
    position: relative;
}

#ten-node-container,
#twenty-node-container {
    height: 600px;
    border: 2px solid black;
    left: 0;
    right: 0;
}

#ten-node-container {
    position: absolute;
    z-index: 1000;
    background-color: white;
}

#twenty-node-container {
    position: absolute;
    z-index: 500;
    background-color: white;
}

select.hidden {
    display: none;
}

#result {
    line-height: 1.5em;
}